.search-form {
    background-color: #FAFAFA;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 47px;
}

.search-form__form {
    /* width: 1140px; */
    max-width: 100%;
    min-width: 100%;
}

.form_wrap {
    border-bottom: 1px solid #E8E8E8;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.form__input {
    width: 1140px;
    max-width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #A0A0A0;
}


.form__error {
    margin-left: 20px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    width: 300px;
    position: absolute;
    bottom: -21px;
    left: -20px;
}

.form__submit {
    background-color: transparent;
    border: none;
    border-radius: 46px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__submit_disabled {
    opacity: 0.5;
}

.form__submit_image {}

@media screen and (max-width: 769px) and (min-width: 420px) {
    .search-form {
        height: 237px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 80px;
        padding-bottom: 61px;
        align-items: flex-end;
    }

    .form__input {
        width: 708px;
        max-width: 80%;
    }
}

@media screen and (max-width: 420px) and (min-width: 310px) {
    .search-form {
        height: 238px;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 90px;
        padding-bottom: 51px;
        align-items: center;
    }

    .form__input {
        width: 292px;
        max-width: 80%;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .filter {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 41px;
    }

}