html[data-theme='light'] {
    --about-background-color: #FAFAFA;
    --about-grid-table-text: #000000;
    --about-background-color-grid-graph-first-num: #3456F3;
    --about-text-grid-graph-first-num: #FFFFFF;
    --about-text-grid-graph-second-num: #000000;
    --about-background-color-grid-graph-second-num: #F2F2F2;
    --about-text-grid-graph-legend: #A0A0A0;

}

html[data-theme='dark'] {
    --about-background-color: #888888;
    --about-grid-table-text: #FAFAFA;

    --about-background-color-grid-graph-first-num: #1e328c;
    --about-text-grid-graph-first-num: #ffffff;
    --about-text-grid-graph-second-num: #ffffff;
    --about-background-color-grid-graph-second-num: #2d2d2d;
    --about-text-grid-graph-legend: #e6e2e2;
}

.about {
    background-color: var(--about-background-color);
    max-width: 100vw;
    height: 608px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
}

.grid-table {
    margin: 0 auto;
    margin-top: 70px;
    max-width: 100%;
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 50%));
    grid-template-rows: repeat(2, fit-content(40px));
    grid-column-gap: 40px;
    grid-row-gap: 26px;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
    grid-template-areas:
        "title_step title_week"
        "ph_step ph_week";
}

.grid-table__title_step {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: var(--about-grid-table-text);
    width: 550px;
    max-width: 100%;
    grid-area: title_step;
}

.grid-table__title_week {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: var(--about-grid-table-text);
    width: 550px;
    max-width: 100%;
    grid-area: title_week;
}

.grid-table__ph_step {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--about-grid-table-text);
    grid-area: ph_step;
}

.grid-table__ph_week {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--about-grid-table-text);
    grid-area: ph_week;
}

.grid-graph {
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 110px;
    max-width: 1140px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 36px 36px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: start;
    margin-left: 70px;
    margin-right: 70px;
}

.grid-graph__first-num_blue {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background-color: var(--about-background-color-grid-graph-first-num);
    color: var(--about-text-grid-graph-first-num);
    width: 228px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-graph__second-num {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--about-text-grid-graph-second-num);
    width: 912px;
    max-width: 100%;
    background-color: var(--about-background-color-grid-graph-second-num);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-graph__first-legend {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--about-text-grid-graph-legend);
    width: 228px;
    max-width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-graph__second-legend {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--about-text-grid-graph-legend);
    width: 912px;
    max-width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 769px) and (min-width: 420px) {
    .about {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px;
    }

    .grid-table {
        width: 668px;
    }

    .grid-table__ph {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

    .grid-graph {
        width: 668px;
    }

}

@media screen and (max-width: 420px) and (min-width: 310px) {
    .about {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 0px;
        height: 641px;
    }

    .grid-table {
        margin-top: 60px;
        grid-template-columns: 284px;
        grid-template-areas:
            "title_step"
            "ph_step"
            "title_week"
            "ph_week";
    }

    .grid-graph__first-num_blue {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        width: 100px;
        max-width: 100%;
    }

    .grid-graph__first-legend {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        width: 100px;
        max-width: 100%;
    }

    .grid-graph__second-legend {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        text-align: center;

        max-width: 100%;
    }

    .grid-graph__second-num {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: #000000;

        max-width: 100%;
    }
}